.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem; /* Aumento grandezza titolo */
  color: #b30000;
  margin-bottom: 20px; /* Spaziatura sotto il titolo */
}

.insert-form {
  min-height: 80vh;
  width: 60vw; /* Aumento larghezza */
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Disposizione verticale */
  align-items: center; /* Centratura orizzontale */
  padding: 20px;
  margin: 20px auto; /* Centratura su pagina */
}

.input-field {
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px; /* Aumento padding */
  font-size: 1.2rem; /* Aumento testo */
  margin-bottom: 15px; /* Spaziatura verticale tra i campi */
  width: 100%; /* Allineamento con il form */
  box-sizing: border-box;
}

.submit-button {
  color: whitesmoke;
  background-color: #b30000;
  width: 25vw; /* Aumento larghezza bottone */
  height: 50px; /* Aumento altezza bottone */
  font-size: 1.2rem; /* Aumento dimensione testo bottone */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #900000; 
}

.add-paragraph-button {
  color: #b30000;
  background-color: white;
  padding: 10px 15px; /* Aumento padding bottone */
  font-size: 1.1rem; /* Aumento dimensione testo */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-paragraph-button:hover {
  background-color: #b30000;
  color: white;
}

.content-block {
  margin-bottom: 20px; /* Spaziatura tra blocchi */
}

